/* 7. Breadcrumb */
/* Usando elementos HTML ol e li */

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.breadcrumb-item {
  display: flex;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  padding: 0 0.5rem;
  color: var(--cor-secundaria);
}

.breadcrumb-item a {
  color: var(--cor-primaria);
  text-decoration: none;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

.breadcrumb-item.active {
  color: var(--cor-secundaria);
}

.breadcrumb-item.active[aria-current="page"] {
  color: var(--cor-secundaria);
}

