/* 8. Buttons */
/* Usando elemento HTML button */

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria);
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria);
}

.btn-secondary {
  color: #fff;
  background-color: var(--cor-secundaria);
  border-color: var(--cor-secundaria);
}

.btn-secondary:hover {
  color: #fff;
  background-color: var(--cor-secundaria);
  border-color: var(--cor-secundaria);
}

.btn-success {
  color: #fff;
  background-color: var(--cor-sucesso);
  border-color: var(--cor-sucesso);
}

.btn-success:hover {
  color: #fff;
  background-color: var(--cor-sucesso);
  border-color: var(--cor-sucesso);
}

.btn-danger {
  color: #fff;
  background-color: var(--cor-perigo);
  border-color: var(--cor-perigo);
}

.btn-danger:hover {
  color: #fff;
  background-color: var(--cor-perigo);
  border-color: var(--cor-perigo);
}

.btn-warning {
  color: var(--cor-escura);
  background-color: var(--cor-aviso);
  border-color: var(--cor-aviso);
}

.btn-warning:hover {
  color: var(--cor-escura);
  background-color: var(--cor-aviso);
  border-color: var(--cor-aviso);
}

.btn-info {
  color: #fff;
  background-color: var(--cor-info);
  border-color: var(--cor-info);
}

.btn-info:hover {
  color: #fff;
  background-color: var(--cor-info);
  border-color: var(--cor-info);
}

.btn-light {
  color: var(--cor-escura);
  background-color: var(--cor-clara);
  border-color: var(--cor-clara);
}

.btn-light:hover {
  color: var(--cor-escura);
  background-color: var(--cor-clara);
  border-color: var(--cor-clara);
}

.btn-dark {
  color: #fff;
  background-color: var(--cor-escura);
  border-color: var(--cor-escura);
}

.btn-dark:hover {
  color: #fff;
  background-color: var(--cor-escura);
  border-color: var(--cor-escura);
}

