/* 12. Listas */
/* Usando elementos HTML ul e li */

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: var(--cor-clara);
  border: 1px solid rgba(0, 0, 0, 0.125);
  text-decoration: none;
  color: var(--cor-escura);
}

.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.list-group-item:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.list-group-item:not(:last-child) {
  border-bottom: 0;
}

.list-group-item:hover {
  z-index: 1;
  text-decoration: none;
  background-color: var(--cor-clara);
}

.list-group-item:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria);
}

