/* 16. Pagination */
/* Usando elementos HTML nav, ul, li */

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-item {
  display: list-item;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria);
}

.page-item.disabled .page-link {
  color: var(--cor-secundaria);
  pointer-events: none;
  cursor: auto;
  background-color: var(--cor-clara);
  border-color: var(--cor-clara);
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: var(--cor-primaria);
  text-decoration: none;
  background-color: var(--cor-clara);
  border: 1px solid var(--cor-clara);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.page-link:hover {
  z-index: 2;
  color: var(--cor-primaria);
  text-decoration: none;
  background-color: var(--cor-clara);
  border-color: var(--cor-clara);
}

.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

