/* 19. Tabelas */
/* Usando elemento HTML table */

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: var(--cor-escura);
  vertical-align: top;
  border-color: var(--cor-clara);
  border-collapse: collapse;
}

.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg, transparent);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg, transparent);
}

.table > tbody {
  vertical-align: inherit;
}

.table > thead {
  vertical-align: bottom;
}

.table > :not(:first-child) {
  border-top: 2px solid currentColor;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid var(--cor-clara);
  font-weight: 600;
  text-align: left;
  background-color: var(--cor-clara);
}

.table tbody td,
.table tbody th {
  border-bottom: 1px solid var(--cor-clara);
}

.table tbody tr:hover {
  background-color: var(--cor-clara);
}

.table-group-divider {
  border-top: 2px solid currentColor;
}

.table tbody tr:last-child td {
  border-bottom: none;
}

